@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>
<p>Aluno(a) @ViewData["Participantes"]</p>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
    <strong> Participants: </strong> <a href="https://github.com/itsmyllaa"> Camila Gabriela Xavier Santos</a>
</address>